#root {
  text-align: center;
}
/* 
.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.selectors-container {
  align-items: left;
  width: 1400px; /* Ajusta el ancho según tus necesidades */
}

.history-container {
  width: 400px; /* Ajusta el ancho según tus necesidades */
}
 */