#root {
  text-align: center;
}
.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.selectors-container {
  align-items: left;
  max-width: 1400px;
}

.history-container {
  margin-top: 50px;
  margin-right: 70px;
  width: 400px;
}
.app-page {
  background-color: #444444;
}
